<section class="all_peeps"
	<% if Peep.first %>
		<% peeps = Peep.all(order: [:id.desc]) %>
		<% peeps.each do |peep| %>
		<section class="peep" id="<%= peep.id %>">
			<p><%= peep.posted_by %></p>
			<p class="content"><%= peep.content %></p>
			<p class="time"><%= peep.when(peep.created_at) %></p>
			<section class="buttons">
				<form method='get' action="/sessions/reply/<%= "#{peep.id}" %>">
					<input type="submit" value="Reply">
				</form>
				<form method='get' action="/sessions/show_reply/<%= "#{peep.id}" %>">
					<input type="submit" value="<%= "Replies: #{Reply.all(:peep_id => peep.id).size}" %>">
				</form>
			</section>
		</section>
		<% end %>
	<% end %>
</section>
