<section class="replies">
<% @peep = Peep.first(:id => params[:peep_id]) %>
<section class="peep" id="<%= "peep#{@peep.id}" %>">
	<p><%= @peep.posted_by %></p>
	<p class="content"><%= @peep.content %></p>
	<p class="time"><%= @peep.when(@peep.created_at) %></p>
	</section>
		<% replies = Reply.all(order: [:id.desc]) %>
		<% replies.each do |reply| %>
			<% if reply.peep_id == @peep.id %>
				<section class="peep" id="<%= "reply#{reply.id}" %>">
					<p><%= reply.posted_by %><p>
					<p class="content"><%= reply.content %><p>
					<p class="time"><%= reply.when(reply.created_at) %><p>
				</section>
			<% end %>
		<% end %>
	<form method='get' action="/sessions/reply/<%= "#{@peep.id}" %>">
		<input type="submit" value="Reply">
	</form>
</section>